.site-footer {
    background-color: $white;
    position: relative;
}

.site-footer-copyright {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba($white, 0.5);
    background-color: $secondary-color;
    @include max-mq($sm) {
        flex-direction: column;
    }
    p {
        margin: 0;
        font-size: 14px;
        font-family: $secondary-font;
        @include max-mq($sm) {
            font-size: 13px;
            &:first-of-type {
                margin-bottom: 10px;
            }
        }
    }
}