.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    &.sticky-header {
        background-color: $secondary-color;
        .site-header-inner {
            &::before {
                background-color: transparent;
            }
        }
    }
    .container {
        max-width: unset;
    }
}

.site-header-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        left: 50%;
        bottom: 0;
        height: 1px;
        background-color: $white;
        transform: translateX(-50%);
        transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .btn-primary {
        @include max-mq($sm) {
            display: none;
        }
    }
}

.site-header-logo {
    width: 120px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    @include max-mq($md) {
        width: 100px;
    }
    @include max-mq($sm) {
        order: 1;
        position: static;
        transform: unset;
    }
    svg {
        path {
            fill: $white;
        }
    }
}

.site-header-play-wrapper {
    color: $white;
    font-size: 14px;
    width: 17px;
    height: 14px;
    position: relative;
    &.active {
        .js-pause {
            opacity: 1;
            visibility: visible;
        }
        .js-play {
            opacity: 0;
            visibility: hidden;
        }
    }
    span {
        display: inline-flex;
        line-height: 1;
        position: absolute;
        cursor: pointer;
        transition: 0.6s ease;
    }

    .js-play {
        z-index: 1;
        opacity: 1;
        visibility: visible;
    }

    .js-pause {
        opacity: 0;
        visibility: hidden;
        z-index: 1;
    }
}

.site-header-left {
    display: flex;
    align-items: center;
    @include max-mq($sm) {
        order: 2;
        margin-left: auto;
    }
}

.site-header-lng {
    margin-right: 20px;

    .wpml-ls-legacy-list-horizontal {
        padding: 0;
    }

    .wpml-ls-legacy-list-horizontal>ul {
        display: flex;
        padding: 0;
    }

    .wpml-ls-flag {
        width: 23px;
        filter: grayscale(1);
        transition: 0.6s ease;
    }

    .wpml-ls-legacy-list-horizontal .wpml-ls-item {
        margin-right: 15px;
        display: inline-flex;
        &.wpml-ls-current-language, &:hover {
            .wpml-ls-flag {
                filter: grayscale(0);
            }
        }
        &:last-of-type {
            margin-right: 0;
        }
    }

    .wpml-ls-legacy-list-horizontal a {
        padding: 0;
        display: inline-flex;
        align-items: center;
    }
}

.wpml-ls-legacy-list-horizontal a {
    color: $white;
    font-family: $secondary-font;
}