.site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    .container {
        max-width: unset;
    }
}

.site-header-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        left: 50%;
        bottom: 0;
        height: 1px;
        background-color: $white;
        transform: translateX(-50%);
    }
}

.site-header-logo {
    width: 120px;
    display: inline-flex;
    svg {
        path {
            fill: $white;
        }
    }
}

.site-header-play-wrapper {
    color: $white;
    font-size: 14px;
    width: 17px;
    height: 14px;
    position: relative;
    &.active {
        .js-pause {
            opacity: 1;
            visibility: visible;
        }
        .js-play {
            opacity: 0;
            visibility: hidden;
        }
    }
    span {
        display: inline-flex;
        line-height: 1;
        position: absolute;
        cursor: pointer;
        transition: 0.6s ease;
    }

    .js-play {
        z-index: 1;
        opacity: 1;
        visibility: visible;
    }

    .js-pause {
        opacity: 0;
        visibility: hidden;
        z-index: 1;
    }
}