.about-us {
    padding: 100px 0;
    background-color: $white;
}

.about-us-inner {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.about-us-pretitle {
    justify-content: center;
}

.about-us-title {
    text-align: center;
}